clients/node-red/mqtt-examples.json
[
    {
        "id": "3a93bfa4.83653",
        "type": "tab",
        "label": "mqtt",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6250dbae.d68ce4",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/Speed",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 930,
        "y": 540,
        "wires": [
            [
                "e133e074.983e08"
            ]
        ]
    },
    {
        "id": "dd58caac.952898",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/OBD/O2/Bank1/Sensor1/Voltage",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 250,
        "y": 600,
        "wires": [
            [
                "980f2980.f5617"
            ]
        ]
    },
    {
        "id": "705f5e32.c7f1d",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/OBD/FuelLevel",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 870,
        "y": 960,
        "wires": [
            [
                "7088d1ce.faa8c"
            ]
        ]
    },
    {
        "id": "1883106d.e2a2f",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/OBD/DistanceWithMIL",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 200,
        "y": 360,
        "wires": [
            [
                "8f23fa67.825238"
            ]
        ]
    },
    {
        "id": "47532736.a366d",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/OBD/OilTemperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 230,
        "y": 880,
        "wires": [
            [
                "9625a6d6.041a4"
            ]
        ]
    },
    {
        "id": "e45cc990.68b918",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/OBD/RunTime",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "b7a8b819.7d1668"
            ]
        ]
    },
    {
        "id": "fc86d921.34d488",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/IsMoving",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 210,
        "y": 420,
        "wires": [
            [
                "355c5cb0.635ab4"
            ]
        ]
    },
    {
        "id": "355c5cb0.635ab4",
        "type": "function",
        "z": "3a93bfa4.83653",
        "name": "",
        "func": "msg.color = (JSON.parse(msg.payload.toLowerCase()))?\"green\":\"red\"\nmsg.payload = msg.color\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 440,
        "wires": [
            [
                "4e9f2749.c3cb8"
            ]
        ]
    },
    {
        "id": "980f2980.f5617",
        "type": "ui_chart",
        "z": "3a93bfa4.83653",
        "name": "",
        "group": "412ed4b3.5566bc",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "O2 Bank1 Voltage",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 610,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "9625a6d6.041a4",
        "type": "ui_chart",
        "z": "3a93bfa4.83653",
        "name": "",
        "group": "412ed4b3.5566bc",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "celsius",
        "dot": true,
        "ymin": "-20",
        "ymax": "200",
        "removeOlder": 1,
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#5aa0d0",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 650,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "8f23fa67.825238",
        "type": "ui_text",
        "z": "3a93bfa4.83653",
        "group": "2e4b5aa8.f5e826",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Travelled Distance",
        "format": "{{msg.payload}} km",
        "layout": "row-spread",
        "x": 570,
        "y": 360,
        "wires": []
    },
    {
        "id": "b7a8b819.7d1668",
        "type": "ui_text",
        "z": "3a93bfa4.83653",
        "group": "2e4b5aa8.f5e826",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Run Time",
        "format": "{{msg.payload}} s",
        "layout": "row-spread",
        "x": 600,
        "y": 280,
        "wires": []
    },
    {
        "id": "e133e074.983e08",
        "type": "ui_gauge",
        "z": "3a93bfa4.83653",
        "name": "",
        "group": "5440a39c.67565c",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Speed",
        "label": "km/h",
        "format": "{{value}}",
        "min": "-250",
        "max": "250",
        "colors": [
            "#216cc6",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1250,
        "y": 520,
        "wires": []
    },
    {
        "id": "7088d1ce.faa8c",
        "type": "ui_gauge",
        "z": "3a93bfa4.83653",
        "name": "",
        "group": "fec8429a.fc369",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Fuel Level",
        "label": "percent",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1290,
        "y": 960,
        "wires": []
    },
    {
        "id": "4e9f2749.c3cb8",
        "type": "ui_template",
        "z": "3a93bfa4.83653",
        "group": "2e4b5aa8.f5e826",
        "name": "Moving",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<p class=\"label ng-binding\">Moving\n<svg  width=32px height=32px style=\"margin-left: 200px;\">\n    <circle id=\"circle1\" cx=\"20\" cy=\"20\" r=\"10\" stroke={{msg.color}} fill=\"transparent\" stroke-width=\"5\"/>\n</svg>\n</p>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 640,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "1b8c9792.427508",
        "type": "ui_text",
        "z": "3a93bfa4.83653",
        "group": "2e4b5aa8.f5e826",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Run Time MIL",
        "format": "{{msg.payload}} min",
        "layout": "row-spread",
        "x": 1240,
        "y": 280,
        "wires": []
    },
    {
        "id": "7b1ce943.4127e8",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/OBD/RunTimeMIL",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 840,
        "y": 300,
        "wires": [
            [
                "1b8c9792.427508"
            ]
        ]
    },
    {
        "id": "e6f8b55b.263498",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/OBD/IntakeTemp",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 220,
        "y": 940,
        "wires": [
            [
                "9625a6d6.041a4"
            ]
        ]
    },
    {
        "id": "a6848e19.8c8d",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/OBD/CoolantTemperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 230,
        "y": 1000,
        "wires": [
            [
                "9625a6d6.041a4"
            ]
        ]
    },
    {
        "id": "41efd366.b8ed7c",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/OBD/AmbientAirTemperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 240,
        "y": 1060,
        "wires": [
            [
                "9625a6d6.041a4"
            ]
        ]
    },
    {
        "id": "6355dfba.7415c",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/OBD/EngineLoad",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 860,
        "y": 860,
        "wires": [
            [
                "d5563f1a.97586"
            ]
        ]
    },
    {
        "id": "d5563f1a.97586",
        "type": "ui_gauge",
        "z": "3a93bfa4.83653",
        "name": "",
        "group": "fec8429a.fc369",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Engine Load",
        "label": "percent",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1270,
        "y": 860,
        "wires": []
    },
    {
        "id": "a3efb7d5.35b3b8",
        "type": "ui_gauge",
        "z": "3a93bfa4.83653",
        "name": "",
        "group": "5440a39c.67565c",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Engine Speed",
        "label": "km/h",
        "format": "{{value}}",
        "min": "-250",
        "max": "250",
        "colors": [
            "#216cc6",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1240,
        "y": 440,
        "wires": []
    },
    {
        "id": "20b1bd6b.6070d2",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/EngineSpeed",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 910,
        "y": 460,
        "wires": [
            [
                "a3efb7d5.35b3b8"
            ]
        ]
    },
    {
        "id": "331e64e8.ffccfc",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/MAF",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 900,
        "y": 640,
        "wires": [
            [
                "3ef75143.4e4a3e"
            ]
        ]
    },
    {
        "id": "3ef75143.4e4a3e",
        "type": "ui_gauge",
        "z": "3a93bfa4.83653",
        "name": "",
        "group": "5440a39c.67565c",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "MAF",
        "label": "km/h",
        "format": "{{value}}",
        "min": "-250",
        "max": "250",
        "colors": [
            "#216cc6",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1230,
        "y": 620,
        "wires": []
    },
    {
        "id": "6e73a0fa.d1868",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/MaxMAF",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 890,
        "y": 700,
        "wires": [
            [
                "8ae7a11d.ba83e"
            ]
        ]
    },
    {
        "id": "8ae7a11d.ba83e",
        "type": "ui_gauge",
        "z": "3a93bfa4.83653",
        "name": "",
        "group": "5440a39c.67565c",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "MAX MAF",
        "label": "km/h",
        "format": "{{value}}",
        "min": "-250",
        "max": "250",
        "colors": [
            "#216cc6",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1230,
        "y": 680,
        "wires": []
    },
    {
        "id": "a760a6ea.3c8c78",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/OBD/ThrottlePosition",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 870,
        "y": 1040,
        "wires": [
            [
                "e4c64261.ad83b"
            ]
        ]
    },
    {
        "id": "e4c64261.ad83b",
        "type": "ui_gauge",
        "z": "3a93bfa4.83653",
        "name": "",
        "group": "85612fa2.ae3cf",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Throttle Position",
        "label": "percent",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1280,
        "y": 1040,
        "wires": []
    },
    {
        "id": "3104c09b.ae9ef",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/OBD/O2/Bank1/Sensor2/Voltage",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 230,
        "y": 660,
        "wires": [
            [
                "980f2980.f5617"
            ]
        ]
    },
    {
        "id": "52ca5c1d.81ceb4",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/OBD/O2/Bank1/Sensor3/Voltage",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 250,
        "y": 720,
        "wires": [
            [
                "980f2980.f5617"
            ]
        ]
    },
    {
        "id": "db8d23c9.ebaf4",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/OBD/O2/Bank1/Sensor4/Voltage",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 250,
        "y": 780,
        "wires": [
            [
                "980f2980.f5617"
            ]
        ]
    },
    {
        "id": "138813d5.be039c",
        "type": "ui_gauge",
        "z": "3a93bfa4.83653",
        "name": "",
        "group": "fec8429a.fc369",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Absolute Load",
        "label": "percent",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1180,
        "y": 800,
        "wires": []
    },
    {
        "id": "7e637c2c.a8da64",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/OBD/AbsoluteLoad",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 770,
        "y": 800,
        "wires": [
            [
                "138813d5.be039c"
            ]
        ]
    },
    {
        "id": "de7ca70c.fcfc18",
        "type": "ui_gauge",
        "z": "3a93bfa4.83653",
        "name": "",
        "group": "85612fa2.ae3cf",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Throttle Position B",
        "label": "percent",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1230,
        "y": 1100,
        "wires": []
    },
    {
        "id": "b98f4df3.4f81c",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/OBD/ThrottlePositionB",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 820,
        "y": 1100,
        "wires": [
            [
                "de7ca70c.fcfc18"
            ]
        ]
    },
    {
        "id": "53d08e68.f2ddf",
        "type": "ui_gauge",
        "z": "3a93bfa4.83653",
        "name": "",
        "group": "85612fa2.ae3cf",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Throttle Position C",
        "label": "percent",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1230,
        "y": 1180,
        "wires": []
    },
    {
        "id": "b4e510bd.c0672",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/OBD/ThrottlePositionC",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 820,
        "y": 1180,
        "wires": [
            [
                "53d08e68.f2ddf"
            ]
        ]
    },
    {
        "id": "9a505ea1.f303e",
        "type": "ui_gauge",
        "z": "3a93bfa4.83653",
        "name": "",
        "group": "85612fa2.ae3cf",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Accelerator Position D",
        "label": "percent",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1200,
        "y": 1240,
        "wires": []
    },
    {
        "id": "341a2e60.f01ff2",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/OBD/AcceleratorPositionD",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 790,
        "y": 1240,
        "wires": [
            [
                "9a505ea1.f303e"
            ]
        ]
    },
    {
        "id": "4c530f7d.d91fd",
        "type": "ui_gauge",
        "z": "3a93bfa4.83653",
        "name": "",
        "group": "85612fa2.ae3cf",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Accelerator Position E",
        "label": "percent",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1220,
        "y": 1320,
        "wires": []
    },
    {
        "id": "b05d9809.3fb438",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/OBD/AcceleratorPositionE",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 810,
        "y": 1320,
        "wires": [
            [
                "4c530f7d.d91fd"
            ]
        ]
    },
    {
        "id": "c91afc6a.5f0f6",
        "type": "ui_gauge",
        "z": "3a93bfa4.83653",
        "name": "",
        "group": "85612fa2.ae3cf",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Accelerator Position F",
        "label": "percent",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1180,
        "y": 1380,
        "wires": []
    },
    {
        "id": "4f36666d.9346c8",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/OBD/AcceleratorPositionF",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 770,
        "y": 1380,
        "wires": [
            [
                "c91afc6a.5f0f6"
            ]
        ]
    },
    {
        "id": "83e3c419.bec5f8",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/OBD/CommandedEGR",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 720,
        "y": 1460,
        "wires": [
            [
                "6fe91304.69748c"
            ]
        ]
    },
    {
        "id": "6fe91304.69748c",
        "type": "ui_gauge",
        "z": "3a93bfa4.83653",
        "name": "",
        "group": "2e4b5aa8.f5e826",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Commanded EGR",
        "label": "percent",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1230,
        "y": 1480,
        "wires": []
    },
    {
        "id": "60a9fdc.5cbfb04",
        "type": "ui_gauge",
        "z": "3a93bfa4.83653",
        "name": "",
        "group": "2e4b5aa8.f5e826",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "EGR Error",
        "label": "percent",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1190,
        "y": 1560,
        "wires": []
    },
    {
        "id": "ea095c51.f3199",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/OBD/EGRError",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 670,
        "y": 1540,
        "wires": [
            [
                "60a9fdc.5cbfb04"
            ]
        ]
    },
    {
        "id": "5618caea.8d9bb4",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/OBD/WarmupsSinceDTCClear",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 900,
        "y": 380,
        "wires": [
            [
                "347563ca.1cdecc"
            ]
        ]
    },
    {
        "id": "347563ca.1cdecc",
        "type": "ui_text",
        "z": "3a93bfa4.83653",
        "group": "2e4b5aa8.f5e826",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Warmups Since DTC Clear",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1280,
        "y": 380,
        "wires": []
    },
    {
        "id": "5df8500.08ad1b",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/OBD/DistanceSinceDTCClear",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 1600,
        "y": 360,
        "wires": [
            [
                "dd9bd473.ab7ad8"
            ]
        ]
    },
    {
        "id": "dd9bd473.ab7ad8",
        "type": "ui_text",
        "z": "3a93bfa4.83653",
        "group": "2e4b5aa8.f5e826",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Distance Since DTC Clear",
        "format": "{{msg.payload}} km",
        "layout": "row-spread",
        "x": 1970,
        "y": 360,
        "wires": []
    },
    {
        "id": "e6f03a24.1b3a48",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/OBD/TimeSinceDTCClear",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 1570,
        "y": 440,
        "wires": [
            [
                "de56df77.52975"
            ]
        ]
    },
    {
        "id": "de56df77.52975",
        "type": "ui_text",
        "z": "3a93bfa4.83653",
        "group": "2e4b5aa8.f5e826",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Time Since DTC Clear",
        "format": "{{msg.payload}} min",
        "layout": "row-spread",
        "x": 1940,
        "y": 440,
        "wires": []
    },
    {
        "id": "1c0ed5b2.eb6cd2",
        "type": "mqtt-broker",
        "name": "vss",
        "broker": "192.168.0.15",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "412ed4b3.5566bc",
        "type": "ui_group",
        "name": "Grafik",
        "tab": "155b6500.dae29b",
        "order": 5,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "2e4b5aa8.f5e826",
        "type": "ui_group",
        "name": "Basic",
        "tab": "155b6500.dae29b",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5440a39c.67565c",
        "type": "ui_group",
        "name": "Info",
        "tab": "155b6500.dae29b",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fec8429a.fc369",
        "type": "ui_group",
        "name": "Info percent",
        "tab": "155b6500.dae29b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "85612fa2.ae3cf",
        "type": "ui_group",
        "name": "Info percent 2",
        "tab": "155b6500.dae29b",
        "order": 3,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "155b6500.dae29b",
        "type": "ui_tab",
        "name": "VSS",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]